---
import { Image } from "astro:assets";
import fivestars from "../assets/images/fivestars.svg";
import Profil from "../assets/images/CardsProfil.svg";
import Google from "../assets/images/Google_Logo.svg";

const { url="#", cardimagealt="", navn="", dato="", review="" } = Astro.props;
---
<article class="bg-brun-0 py-10 px-10 min-w-72 rounded-[30px] flex flex-col justify-between shadow-xs shadow-brun-900/50">
    <div class="overflow-x-auto">
        <div class="grid grid-cols-[1fr_4fr] gap-4">
            <Image src={Profil} alt={cardimagealt} loading="lazy"/>
            <div>
                <h6 class="text-base">{navn}</h6>
                <p class="text-[12px]">{dato}</p>
            </div>
        </div>

        <div class="pt-3.5">
            <Image src={fivestars} alt="trustpilot" loading="lazy"/>
            <p class="pt-1.5 pb-3.5">{review}</p>
        </div>
    </div>

    <a href={url}>
    <Image src={Google} alt="Google" loading="lazy"/>
    </a>
</article>


<!-- <article class="bg-brun-0 py-10 px-10 min-w-80 md:min-w-52 lg:min-h-60 lg:max-h-72 rounded-[30px] flex flex-col justify-between shadow-xs shadow-brun-900/50">
    <div>
        <div class="grid grid-cols-[1fr_4fr] gap-4">
            <Image src={Profil} alt={cardimagealt} loading="lazy"/>
            <div>
                <h6 class="text-base">{navn}</h6>
                <p class="text-[12px]">{dato}</p>
            </div>
        </div>

        <div class="pt-3.5">
            <Image src={fivestars} alt="trustpilot" loading="lazy"/>
            <p class="pt-1.5 pb-3.5">{review}</p>
        </div>
    </div>

    <a href={url}>
    <Image src={Google} alt="Google" loading="lazy"/>
    </a>
</article> -->

<style>
    h6 {
        font-family: outfit;
        font-weight: 400;
    }
    p {
        font-family: agrandir;
    }
</style>
