---
const {
  image = "",
  imagealt = "",
  titel = "",
  navn = "",
  beskrivelse = "",
} = Astro.props;
---

<div class="shadow-lg shadow-brun-900/50 rounded-[5px]">
  <!-- Sørger for at man kan klikke på card for info på mobil -->
  <!-- open: false betyder, at info-boksen er skjult i starten.
  @click.away="open = false" gør, at info-boksen lukker, hvis man klikker udenfor. -->
  <div x-data="{ open: false }" @click.away="open = false" class="relative">
    <div class="relative group aspect-[3/4] hover:scale-110 duration-300">
      <!-- Her er fixet -->
      <img
        src={image}
        alt={imagealt}
        class="w-full h-full object-cover rounded-[5px]"
        loading="lazy"
        @click="window.innerWidth < 768 ? open = !open : null"
      />

      <div
        x-show="open || window.innerWidth >= 768"
        x-transition
        class="rounded-b-[5px] absolute bottom-0 left-0 w-full bg-brun-700/80 text-brun-25 p-4 md:opacity-0 md:group-hover:opacity-100 transition-opacity duration-300 md:pointer-events-none"
      >
        <p id="outfit">{titel}</p>
        <p>{navn}</p>
        <p>{beskrivelse}</p>
      </div>
    </div>
  </div>
</div>

<style>
  p {
    font-family: agrandir;
  }

  #outfit {
    font-family: outfit;
    font-weight: 700;
  }
</style>

<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
></script>